@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      background-color: whitesmoke;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .logo a {
      text-decoration: none;
      color: whitesmoke;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .container {
      width: 1100px;
      margin: 0 auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: whitesmoke;
  }

.title h1 {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linija {
    width: 90%;
    height: 2px;
    background-color: rgb(212, 212, 212);
    margin: 10px auto;
}

.apstrakt {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-left: 2rem;
}

.slika {
    display: flex;
    align-items: center;
    justify-content: center;
}

.audi1, .audi2, .audi3, .audi4, .audi5, .audi6, .alfa1, .alfa2, .alfa3, .alfa4, .alfa5, .alfa6, .bmw1, .bmw2, .bmw3, .bmw4, .bmw5, .bmw6 {
    width: 900px;
    margin: 1rem auto;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tekst {
    width: 900px;
    margin-left: 4rem;
    margin-top: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.tekst h2 {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.specifikacije {
    margin-top: 1rem;
}

.specifikacije ul li {
    list-style-type: none;
    margin-left: 1.3rem;
    font-weight: bold;  
}

.bold {
    font-weight: bold;
}

.spec {
    margin-bottom: 0.3rem;
    margin-top: 1rem;
}

.dugme {
    color: white;
    text-decoration: none;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.dugme:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.button {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}