@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      background-color: whitesmoke;
      overflow: hidden;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .logo a {
    text-decoration: none;
    color: whitesmoke;
}
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .container {
      width: 1100px;
      height: 100vh;
      margin: 0 auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: whitesmoke;
  }

  .title{
      padding: 25px;
      background-color: #32a2be;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .automobili {
      margin-left: 10rem;
      margin-right: 10rem;
      margin-top: 3rem;
      display: flex;
      gap: 1rem;
  }

.auto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
}

.auto:hover {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.brendovi {
    margin-left: 5rem;
    margin-top: 5rem;
    margin-right: 3rem;
}

.brendovi h3 {
    font-family: 'Montserrat', sans-serif;
    color: #24252a;
    margin-bottom: 2rem;
    font-size: 14px;
}

.brend {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
    padding: 5px;
}

.lista a {
    text-decoration: none;
    color: #24252a;
    font-family: 'Montserrat', sans-serif;
}

.brend:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lista {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.najboljiTitle h1 {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.prviKompaktni {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.prviKompaktniTekst {
    width: 60%;
    margin-left: 20px;
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
}

.prviKompaktniTekst p {
    color: rgb(92, 92, 92);
}

.prviKompaktniNaslov a {
    font-size: 26px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}

.prviKompaktniNaslov a:hover {
    text-decoration: underline;
}

.drugiKompaktni {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    padding: 10px;
}

.drugiKompaktni .rank {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.drugiKompaktni .drugiKompaktniIme {
    color: rgb(92, 92, 92);
}

.drugiKompaktni img {
    width: 100px;
}

.ostali {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ostali a {
    text-decoration: none;
}

.ostali a:hover {
    text-decoration: underline;
}